h1{
    color: white;
}
.bg-dark{
    height: 80px;
    border: 1px dotted white;
}





nav{border: 2px solid white;
    height: 100px;
}
a{  
    border: 1px solid white;
    color: white;
    margin: 10px;
    border-radius: 5px;
}
ul{
    padding-left: 50px;
}
a:hover{
    color: black;
    background-color: white;
}
button{
    color: white;
}